.list-animation-bar__title {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.list-animation-bar__title__list {
  display: flex;
  padding: 5px 0;
}

.list-animation-bar__title__list-bar {
  margin: 1px;
  height: 2px;
  width: 12px;
  display: block;
  background: #4d4d4d;
  /* AAAAAA */
}

#animation-list-bar1 {
  background: #aaaaaa;
}

.list-animation-bar__title__content span {
  padding-left: 8px;
  padding-right: 3px;
  font-size: 8px;
  display: none;
}

.list-animation-bar__title__content:hover {
  /* 마우스오버시 동작할 함수 .. */
  /* .list-animation-bar__title__content span {
    display: block;
  } */
}
.list-animation-bar__image-list {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.list-animation-bar__image-list__images {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
}
.list-animation-bar__image-list__image {
  width: 215px;
  margin: 0 3px;
  height: 120px;
  background: #aaaaaa;
  border-radius: 5px;
}

#list-animation-bar__image-list__move {
  width: 35px;
  height: 120px;
  background: #0000003b;
  display: table;
}
#list-animation-bar__image-list__move i {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 8px;
}
#list-animation-bar__image-list__move:hover {
  background: #00000073;
}
.list-animation-bar__image-list__move-left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list-animation-bar__image-list__move-right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
