.pin-header-bar {
  display: flex;
  align-items: center;
  background-color: #141414;
  padding: 8px 20px;
}
.pin-header-bar__img {
  width: 95px;
  height: 25px;
  margin: 0 30px;
}

ul {
  list-style: none;
}

.pin-header-bar div ul li {
  color: azure;
  padding: 0 10px;
}
.pin-header-bar__kidsBtn {
  display: flex;
  align-items: center;
}

.pin-header-bar__kidsBtn__kidsImage {
  height: 33px;
  width: 33px;
  border-radius: 5px;
}

.pin-header-bar__kidsBtn div {
  background-color: rgb(214, 0, 0);
  padding: 8px 20px;
  border-radius: 5px;
}

.pin-header-bar__menu ul {
  display: flex;
}

.pin-header-bar__menu {
  padding-right: 50px;
}
